* {
    list-style: none;
    text-decoration: none;
    color: rgba(51, 51, 51, 1);
}


input,
button,
textarea,
select {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #000;
    border-radius: 0px;
}